<style>
    body {
        background-image: url('./img/rick_and_morty_attacking_4k_hd-2560x1440.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    h6>span {
        font-size: 16px;
    }

    form,
    .btn-rows {
        position: relative;
        z-index: 2;
    }

    .error-cover {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        /* background-color: lightblue; */
        background-color: rgba(0, 0, 0, 0.9);
        /* opacity: 0.3; */
        display: none;
        justify-content: center;
        align-items: center;

        opacity: 0;

    }

    .box {
        padding: 1rem;
        z-index: 30;
        position: relative;
        background-color: #3c3e44;
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        transform: translateY(150px);
    }

    .box>h4 {
        position: absolute;
        top: 0;
        right: 10px;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
</style>
<%-include ('./_nav.ejs')%>
<style>
    .nav-link {
        display: none;
    }
</style>
<section>
    <div class="cover"></div>
    <div class="containing">
        <form action="/characters" method="POST">
            <div class="row row-flex">
                <input type="number" name="page" class="browser-default white-text center-align input"
                    value="<%= pagenos%>">
                <span>/ 30</span>
                <button class="btn waves-effect trigger">Jump</button>
            </div>
        </form>

    </div>
</section>
<section>
    <div class="contain containing grid">
        <%for (let i = 0; i < data.length; i++) {%>
        <div class="bigBox ">
            <div class="boxCon ">
                <div class="card-front">
                    <div class="imgCon">
                        <img src="<%= data[i].image %>" alt="rick">
                    </div>
                    <h6>
                        <div class="statusColor"><span><%=data[i].status%></span></div>
                        <span><%= data[i].name %></span>
                    </h6>
                </div>
                <div class="card-back">
                    <h6><span><%= data[i].name %></span></h6>
                    <p>
                        Status: <br />
                        <span class="status"><%=data[i].status%></span>
                    </p>
                    <p>
                        Species: <br />
                        <span class="species"><%= data[i].species %></span>
                    </p>
                    <p>
                        Location: <br />
                        <span class="location"><%= data[i].location.name %></span>
                    </p>
                </div>
            </div>
        </div>
        <%}%>

                </div>

                <div class="containing">

                    <div class="section">
                        <div class="row btn-rows">
                            <%if(pagenos > 1){%>
        <a href="/characters?page=<%= pagenos-1%>" class="btn orange darken-2 ">Prev</a>
        <%}%>
        <%if(pagenos < 30){%>
        <a href="/characters?page=<%= pagenos+1%>" class="btn orange darken-2 ">Next</a>
        <%}%>
            </div>
        </div>
    </div>
    
</section>
<article class="error-cover">
    <div class="box">
        <h3>Error</h3>
        <p>Input must be between 1 & 30</p>
        <h4 class="close">&times;</h4>
    </div>
    
</article>
<%-include ('./_footer.ejs')%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"
            integrity="sha512-pCPP9sfLW9T7EZiw725jUl+ux032sjGhFE+ZAx00C1iO55ZmZJWpfNGbDf2ZF5b0UqxRqSW548PbZEWmH+S7pA=="
            crossorigin="anonymous"></script>
        <script src="/chars.js"></script>